# Q7

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [2]:
df=pd.read_csv("Q7.csv")

In [3]:
df.shape

(32, 4)

In [4]:
df.head()

          Unnamed: 0  Points  Score  Weigh
0          Mazda RX4    3.90  2.620  16.46
1      Mazda RX4 Wag    3.90  2.875  17.02
2         Datsun 710    3.85  2.320  18.61
3     Hornet 4 Drive    3.08  3.215  19.44
4  Hornet Sportabout    3.15  3.440  17.02

In [5]:
df.describe()

          Points      Score      Weigh
count  32.000000  32.000000  32.000000
mean    3.596563   3.217250  17.848750
std     0.534679   0.978457   1.786943
min     2.760000   1.513000  14.500000
25%     3.080000   2.581250  16.892500
50%     3.695000   3.325000  17.710000
75%     3.920000   3.610000  18.900000
max     4.930000   5.424000  22.900000

In [6]:
df[["Points","Score","Weigh"]].median()

Points     3.695
Score      3.325
Weigh     17.710
dtype: float64

In [7]:
df[["Points","Score","Weigh"]].mode()

   Points  Score  Weigh
0    3.07   3.44  17.02
1    3.92    NaN  18.90

In [8]:
df[["Points","Score","Weigh"]].var()

Points    0.285881
Score     0.957379
Weigh     3.193166
dtype: float64

In [9]:
df[["Points","Score","Weigh"]].std()

Points    0.534679
Score     0.978457
Weigh     1.786943
dtype: float64

In [10]:
df[["Points","Score","Weigh"]].max()-df[["Points","Score","Weigh"]].min()

Points    2.170
Score     3.911
Weigh     8.400
dtype: float64

# Q9(a)

In [11]:
df2=pd.read_csv("Q9_a.csv")

In [12]:
df2.shape

(50, 3)

In [13]:
df2.head()

   Index  speed  dist
0      1      4     2
1      2      4    10
2      3      7     4
3      4      7    22
4      5      8    16

In [14]:
df2.skew()

Index    0.000000
speed   -0.117510
dist     0.806895
dtype: float64

In [15]:
df2.kurt()

Index   -1.200000
speed   -0.508994
dist     0.405053
dtype: float64

# Q9(b)

In [16]:
df3=pd.read_csv("Q9_b.csv")

In [17]:
df3

    Unnamed: 0          SP         WT
0            1  104.185353  28.762059
1            2  105.461264  30.466833
2            3  105.461264  30.193597
3            4  113.461264  30.632114
4            5  104.461264  29.889149
..         ...         ...        ...
76          77  169.598513  16.132947
77          78  150.576579  37.923113
78          79  151.598513  15.769625
79          80  167.944460  39.423099
80          81  139.840817  34.948615

[81 rows x 3 columns]

In [18]:
df3.skew()

Unnamed: 0    0.000000
SP            1.611450
WT           -0.614753
dtype: float64

In [19]:
df3.kurt()

Unnamed: 0   -1.200000
SP            2.977329
WT            0.950291
dtype: float64

# Q12

In [20]:
df4=pd.Series([34,36,36,38,38,39,39,40,40,41,41,41,41,42,42,45,49,56])

In [21]:
df4.mean()

41.0

In [22]:
df4.median()

40.5

In [23]:
df4.var()

25.529411764705884

In [24]:
df4.std()

5.05266382858645

In [25]:
df4.var()

25.529411764705884

In [26]:
df4.skew()

1.686841191854795

In [27]:
df4.kurt()

3.9532788974070376

# Q20

In [28]:
df5=pd.read_csv("Cars.csv")

In [29]:
df5

     HP        MPG  VOL          SP         WT
0    49  53.700681   89  104.185353  28.762059
1    55  50.013401   92  105.461264  30.466833
2    55  50.013401   92  105.461264  30.193597
3    70  45.696322   92  113.461264  30.632114
4    53  50.504232   92  104.461264  29.889149
..  ...        ...  ...         ...        ...
76  322  36.900000   50  169.598513  16.132947
77  238  19.197888  115  150.576579  37.923113
78  263  34.000000   50  151.598513  15.769625
79  295  19.833733  119  167.944460  39.423099
80  236  12.101263  107  139.840817  34.948615

[81 rows x 5 columns]

In [30]:
mean=df5['MPG'].mean()

In [31]:
std=df5['MPG'].std()

In [32]:
1-stats.norm.cdf(38,mean,std)

0.3475939251582705

In [33]:
stats.norm.cdf(40,mean,std)

0.7293498762151616

In [34]:
a=stats.norm.cdf(50,mean,std)
b=stats.norm.cdf(20,mean,std)
a-b

0.8988689169682046

# Q21(a)

In [35]:
df5['MPG'].skew()

-0.17794674747025727

In [36]:
df5['MPG'].kurt()

-0.6116786559430913

# Q21(b)

In [37]:
df6=pd.read_csv('wc-at.csv')

In [38]:
df6

      Waist      AT
0     74.75   25.72
1     72.60   25.89
2     81.80   42.60
3     83.95   42.80
4     74.65   29.84
..      ...     ...
104  100.10  124.00
105   93.30   62.20
106  101.80  133.00
107  107.90  208.00
108  108.50  208.00

[109 rows x 2 columns]

In [39]:
df6.skew()

Waist    0.134056
AT       0.584869
dtype: float64

In [40]:
df6.kurt()

Waist   -1.102667
AT      -0.285576
dtype: float64

# Q22

In [41]:
stats.norm.ppf(0.90)

1.2815515655446004

In [42]:
stats.norm.ppf(0.94)

1.5547735945968535

In [43]:
stats.norm.ppf(0.60)

0.2533471031357997

# Q23

In [44]:
stats.t.ppf(0.95,df=24)

1.7108820799094275

In [45]:
stats.t.ppf(0.96,df=24)

1.8280511719596342

In [46]:
stats.t.ppf(0.99,df=24)

2.4921594731575762

# Q24

In [47]:
t = (260-270)/(90*np.sqrt(18))

In [48]:
p = 1 - stats.t.cdf(t,df=17)
p

0.5102942740630179